abstract/tmp/
abstrak/tmp/
paper/submission/
paper/tmp/
presentation/tmp/
report/tmp/
result/01/
result/02/
result/crf_50_4/
result/crf_100_2/
result/crf_200_1_smote_01/
result/data/
result/*.ods
sampul/tmp/
*.aux
*.bbl
*.blg
*.dpth
*.log
*.pdf
*.run.xml
*.synctex.gz
*.toc
*-blx.bib
