progress-report/Muhamad_Sulhan_23513014_-_Thesis_Progress_Report.pdf
proposal/Muhamad_Sulhan_23513014.pdf
report/Muhamad_Sulhan_23513014_-_Tesis.pdf
*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.run.xml
*.synctex.gz
*.toc
result/data/
result/01/
result/02/
result/crf_100_2/
result/crf_200_1_smote_01/
result/crf_50_4/
result/*.pdf
